.container{
    position: relative;
    margin-left: 25%;
    display: inline;
    width: 530px;
}

.outform{
    
    width: 500px;
    padding-left: 100px;
    border: 5px gray;
    border-radius: 20px;
    border-style: solid;
    position: relative;
    margin: auto;
    margin-top: 50px;
    height: 440px;
    top: -510px;
    height: auto;
    opacity:0.2;

}


legend{
    margin-bottom: 10px;
    width: 185px;
}

.submit{
    margin-bottom: 10px;
    margin-top: 10px;
}

.input{
    width: 150px;
    height: 30px;
}

.input-group .form-control{
    width: 70%;
}
.input-group-addon{
    padding-bottom: 5px;
    padding-bottom: 5px;
}

.birthDayin{
width: 75%;
}
.birthValue{
    padding-left: 0;
    padding-right: 0;
}

.input-group{
    margin-top: 5px;
    margin-bottom: 5px;
}

.radio{
    margin-right: 50px;
    display: inline;
    margin-bottom: 20px;
}


.alert-danger{
    width: 280px;
    padding: 5px;
    margin-bottom: 0px;
}

.alert-success{
    width: 280px;
    padding:5px;
    margin-bottom: 0px;
}

.returned{
    text-align:center;
}

.radioName{
    margin-right: 50px;
}

